/admin/.htaccess
/admin/index.php
/app
/bin/phinx
/bin/phpcbf
/bin/phpcs
/bin/phpstan
/bin/phpstan.phar
/db/development/database.sqlite3
/db/production/database.sqlite3
/logs/
/phpcs.xml
/public/
/vendor/
GPATH
GRTAGS
GTAGS
scrutinizer.yml
