/app/Controllers/TestController.php
/vendor/
/logs/
/public/
/phpcs.xml
/.dev
/db/production/database.sqlite3
/db/development/database.sqlite3
/bin/phinx
/bin/phpcbf
/bin/phpcs
/bin/phpstan
/bin/phpstan.phar
