/app/Controllers/
/app/Models/
/vendor/
/logs/
/public/
/phpcs.xml
/db/production/database.sqlite3
/db/development/database.sqlite3
/bin/phinx
/bin/phpcbf
/bin/phpcs
/bin/phpstan
/bin/phpstan.phar
/db/migrations/20250101000001_create_informations_table.php